@use "sass:math";

// Layout
$mobile-width: 375px;
$desktop-width: 1440px;

// Colors
$purple: hsl(259, 100%, 65%);
$light-red: hsl(0, 100%, 67%);
$white: hsl(0, 0%, 100%);
$off-white: hsl(0, 0%, 94%);
$light-grey: hsl(0, 0%, 86%);
$smokey-grey: hsl(0, 1%, 44%);
$off-black: hsl(0, 0%, 8%);

// Typography
$input-font-size: 32px;
// Weights: 400i, 700, 800i

// Helpers
@function pxToRem($pxValue) {
  @return math.div($pxValue, 16px) * 1rem;
}
