@import "../styles/base";

section {
  box-sizing: border-box;
  padding: 5vh 5vw;
  background-color: $white;
  border-radius: 20px 20px 175px 20px;

  & hr {
    border: 0.5px solid $smokey-grey;
  }

  @media screen and (max-width: 768px) {
    & {
      width: 100%;
      padding: pxToRem(55px) pxToRem(30px);
      border-radius: 20px 20px 120px 20px;
    }
  }
}
