@import "../styles/base";

.age-section {
  font-size: pxToRem(82px);
  font-weight: 700;
  font-style: italic;

  @media screen and (max-width: 375px) {
    & {
      font-size: pxToRem(48px);
    }
  }

  & p {
    margin: 0;
    line-height: 1.2;
  }

  & span {
    color: $purple;
  }
}
